#question2, #question3, #question4, #question5, #alt-text, #result, #start-over {
  display:none;
}

#langToLearn {
  size: 20px;
  color: #E33;
  font-weight: 500;
}

#alt-text {
  text-align: center;
}

#rawk {
  max-width: 70%;
  height: auto;
}