body  {
  background-color: #fdd;
}

.container  {
 max-width: 80%;
}

#introBox {
  height: 8em;
}

#formBox  {
  height: 5em;
}

#question2, #question3, #question4, #question5, #alt-text, #result, #start-over {
  display:none;
}  

#userInfo {
  max-width: 50%;
  margin: auto;
}

#langToLearn {
  text-align: center;
  font-size: 40px;
  color: #E33;
  font-weight: 666;
}

#alt-text {
  text-align: center;
}

#rawk {
  max-width: 70%;
  height: auto;
}

#title  {
  max-width: 70%;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
}
#instructions, #result {
font-family: Arial, Helvetica, sans-serif;
max-width: 80%;
margin-left: 15%;
margin-right: 15%;
}