body  {
  background-color: #fdd;
}

.container  {
  max-width: 80%;
  z-index: 1;
}

.itali  {
  font-style:italic;
  font-weight: 666;
}

.boldo  {
  font-weight: 666;
}

#introBox {
  height: 8em;
  margin-bottom: 6%;
}

#formBox  {
  position: absolute;
  height: 5em;
}

#question2, #question3, #question4, #question5, #alt-text1, #alt-text2, #alt-text3, #result, #start-over {
  display:none;
}  

#userInfo {
  max-width: 50%;
  margin: auto;
}

#langToLearn {
  text-align: center;
  font-size: 40px;
  color: #E33;
  font-weight: 666;
}

#alt-text1, #alt-text2 {
  text-align: center;
}

#rawk {
  max-width: 70%;
  height: auto;
}

#title  {
  background-color: #e99;
  text-shadow: .07em .07em .03em #f66;
  font-size: 50px;
  max-width: 70%;
  text-align: center;
  border: 2px solid black;
  color:#fdd;
}
#instructions, #result {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80%;
  margin-left: 15%;
  margin-right: 15%;
}

#sonik  {
  position: absolute;
  left: -150%;
  top: 100%;
  display: none;
  z-index: -3;
}

#alt-text1, #alt-text2, #alt-text3 {
  position: absolute;
  z-index: 3;
}